{{ define "main" }}
{{$p:=.}}
<div class="sub about">
  <div style="height:40vh; background:url({{partial "imgUrl" (dict "img" .Params.headerbild "params" "c_scale,f_auto,w_2000" )}}) center center no-repeat;background-size:cover;"></div>
  <div class="titlewrap ui fluid container">
    <div class="container">
      <h1>{{.Title}}</h1>
    </div>
  </div>
  <div class="ui container mcontent">
    <div class="ui two column stackable grid">
      <div class="ui column cont">
        {{.Params.content_links|safeHTML}}
      </div>
      <div class="ui column img">
        <div class="deco">
        </div>
        <img src="{{partial "imgUrl" (dict "img" .Params.bild_rechts "params" "c_scale,f_auto,w_600" )}}" />
      </div>
    </div>
  </div>
  <div class="ui container fluid motto">
    <div class="ui container">
      {{.Params.motto|safeHTML}}
    </div>
  </div>
  <div class="ui container fluid gal" style="background:url({{partial "imgUrl" (dict "img" .Params.galerie.hintergrund "params" "c_scale,f_auto,w_2000" )}}) center center no-repeat;background-size:cover;">
    <div class="ui container">
      <h2>{{.Params.galerie.titel}}</h2>
      {{partial "imgGalFullW.html" .Params.galerie.bilder}}
    </div>
  </div>
</div> {{end}}