{{ define "main" }}
<div id="about">
  <div class="ui container fluid" style="background:#f6f6f6">
    <div class="ui container" id="oben">
      <div class="ui two column grid stackable">
        <div class="ui column imgcol" style="background:url({{partial "imgUrl" (dict "img" .Params.bild_links "params" "c_scale,f_auto,h_800" )}}) right top no-repeat #f6f6f6; background-size:cover"></div>
        <div class="ui column">
          <h1>{{.Title}}</h1>
          <div class="content_rechts">
            {{.Params.content_rechts | safeHTML}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui container fluid" style="background:url({{partial "imgUrl" (dict "img" .Params.zitat.hintergrundbild "params" "c_scale,f_auto,w_2000" )}}) center center no-repeat #f6f6f6; background-size:cover">
    <div class="ui container" id="zitat">
      <blockquote>
        {{.Params.zitat.content | safeHTML}}
      </blockquote>
      <div class="quelle">
        {{.Params.zitat.quelle | safeHTML}}
      </div>
    </div>
  </div>
  <div class="ui container subbereiche">
    <div class="ui two column stackable grid">
      {{ range .Params.bereiche }}
      <div class="ui column">
        <h2>{{.titel}}</h2>
        {{.content | safeHTML}}
      </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}