{{ define "main" }}
{{$p:=.}}
<div class="sub cat">
  <div style="height:40vh; background:url({{partial "imgUrl" (dict "img" .Params.headerbild "params" "c_scale,f_auto,w_2000" )}}) center center no-repeat;background-size:cover;"></div>
  <div class="titlewrap ui fluid container">
    <div class="container">
      <h1>{{.Title}}</h1>
    </div>
  </div>
  <div class="ui container details">
    <div class="ui stackable two column grid">
      <div class="ui column images">
        {{partial "imgGal.html" .Params.bilder}}
      </div>
      <div class="ui column content">
        {{.Params.bescchreibung | safeHTML}}
        <div class="pbox">
          <div class="price">{{.Params.preis}}</div>
          <a class="anfbutton" href="{{relref $p .Params.link }}">{{.Params.linkbescchriftung}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="othercats" style="background:url({{partial "imgUrl" (dict "img" .Params.weitere_kategorien.hintergrund "params" "c_scale,f_auto,w_2000" )}}) center center no-repeat;background-size:cover;">
    <div id="app" class="ui container">
      <h2>{{.Params.weitere_kategorien.titel}}</h2>
      <div class="ui three column stackable grid">
        {{$p:=.}}
        {{range .Params.weitere_kategorien.kategorien}}
        <div class="ui column appcol">
          <a href="{{relref $p .link }}">
            <img src="{{partial "imgUrl" (dict "img" .bild "params" "c_scale,f_auto,w_400" )}}" />
          </a>
          <div class="info">
            <a href="{{relref $p .link }}">
              <h4>{{.titel}}</h4>
            </a>
            {{.beschreibung | safeHTML}}
            <div class="bwrap">
              <a class="appbutton" href="{{relref $p .link }}">
                <i class="angle right"></i>
                weiter
              </a>
            </div>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </div>
</div> {{end}}