{{ define "main" }}
{{$p:=.}}
<div class="sub kont">
  <div style="height:40vh; background:url({{partial "imgUrl" (dict "img" .Params.headerbild "params" "c_scale,f_auto,w_2000" )}}) center center no-repeat;background-size:cover;"></div>
  <div class="titlewrap ui fluid container">
    <div class="container">
      <h1>{{.Title}}</h1>
    </div>
  </div>
  <div class="ui container intro">
    {{.Params.intro|safeHTML}}
  </div>
  <div class="ui container kdat">
    <div class="ui three column doubling stackable grid">
      {{range .Params.kontaktdaten}}
      <div class="ui column">
        <img src="{{partial "imgUrl" (dict "img" .icon "params" "c_scale,f_auto,w_40" )}}" />
        <div>
          {{.text|safeHTML}}
        </div>
      </div>
      {{end}}
    </div>
    <div class="buttonw">
      <a class="anfbutton" href="mailto:info@lippacherhof.de?subject=Anfrage">{{.Params.buttonbeschriftung}}</a>
    </div>
  </div>
  <div class="ui container fluid">
    <div class="ui 16:9 embed" data-url="{{.Params.karte}}">
    </div>
  </div>
</div> {{end}}