{{ define "main" }}
<div id="home">
  <ul id="slider">
    {{ range $x,$img := .Params.slides }}
    <li>
      <img src="{{partial "imgUrl" (dict "img" . "params" "f_auto" )}} " />
    </li>
    {{end}}
  </ul>
</div>
<script type="text/javascript" src="{{ $.Site.BaseURL }}/lib/slippry.min.js"></script>
<link rel="stylesheet" href="{{ $.Site.BaseURL }}/lib/slippry.min.css">
<script type="text/javascript">
  $(function () {
    $('#slider').slippry({
      // general elements & wrapper
      slippryWrapper: '<div class="sy-box topslider" />', // wrapper to wrap everything, including pager
      elements: 'li', // elments cointaining slide content

      // options
      adaptiveHeight: false, // height of the sliders adapts to current 
      captions: false,
      loop: true,
      // pager
      pager: false,
      start: 2,
      // transitions
      slideMargin: 0, // spacing between slides (in %)
      useCSS: true,
      transition: 'horizontal',
      pause: 3000,
      speed: 650,
      // slideshow
      autoDirection: 'next'
    });
    $('.ui.embed').embed();
  });
</script>
{{ end }}